<!DOCTYPE html>
<html lang="ko">
<head>
{{> include/header}}
<style>
.form-signin {
	width: 100%;
	max-width: 420px;
	padding: 15px;
	margin: auto;
}

.form-label-group {
	position: relative;
	margin-bottom: 1rem;
}

.container {
	margin-top: 30px;
	padding-top: 30px;
}

body {
	background-color: #f5f5f5;
}

#naverMap {
	border: 1px solid #000;
	width: 90%;
	height: 350px;
	margin: 5%
}

.xyform {
	margin-left: 38px;
}

#xy {
	width: 35%;
}
</style>
<script type="text/javascript"
	src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=EyS1oN3ctKp11P_s__ni"></script>
</head>
<body>
	<form class="form-signin" action="/users/join" method="post">
		<div class="text-center container mb-4">
			<img class="mb-4" src="" alt="" width="72" height="72">
			<p><img width="55" height="55" alt="" src="/img/user.png"></p>
			<h1 class="h3 mb-3 font-weight-normal">Rare Animal 회원가입</h1>
			<p>
				Build form controls with floating labels via the
				<code>:placeholder-shown</code>
				pseudo-element. </br> <a href="/experts/joinForm">전문가 회원가입</a>
			</p>
		</div>



		<div class="form-label-group">
			<input type="text" class="form-control" name="userId"
				placeholder="User ID" required autofocus>
		</div>

		<div class="form-label-group">
			<input type="password" class="form-control" name="userPassword"
				placeholder="Password" required>
		</div>

		<div class="form-label-group">
			<input type="text" class="form-control" name="userName"
				placeholder="Name" required>
		</div>

		<div class="form-label-group">
			<input type="text" class="form-control" name="userEmail"
				placeholder="Email" required>
		</div>

		<hr class="mb-4">

		<div class="row">
			<div class="col-md-6">
				<fieldset>
					<legend> 관심있는 동물 </legend>
					<div class="custom-control custom-checkbox">
						<input id="check1" name="interestField01" type="checkbox"
							class="custom-control-input" value="포유류" checked="checked">
						<label class="custom-control-label" for="check1"><img width="22" height="22" alt="" src="/img/mammal.png"> 포유류 (mammal)</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input id="check2" name="interestField01" type="checkbox"
							class="custom-control-input" value="파충류"> <label
							class="custom-control-label" for="check2"><img width="22" height="22" alt="" src="/img/reptile.png"> 파충류 (reptile)</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input id="check3" name="interestField01" type="checkbox"
							class="custom-control-input" value="조류"> <label
							class="custom-control-label" for="check3"><img width="22" height="22" alt="" src="/img/bird.png"> 조류 (bird)</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input id="check4" name="interestField01" type="checkbox"
							class="custom-control-input" value="어류"> <label
							class="custom-control-label" for="check4"><img width="22" height="22" alt="" src="/img/fish.png"> 어류 (fish)</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input id="check5" name="interestField01" type="checkbox"
							class="custom-control-input" value="양서류"> <label
							class="custom-control-label" for="check5"><img width="22" height="22" alt="" src="/img/amphibian.png"> 양서류(amphibian)</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input id="check6" name="interestField01" type="checkbox"
							class="custom-control-input" value="무척추동물"> <label
							class="custom-control-label" for="check6"><img width="22" height="22" alt="" src="/img/invertebrate.png"> 무척추동물 (invertebrate)</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input id="check7" name="interestField01" type="checkbox"
							class="custom-control-input" value="거미/곤충류"> <label
							class="custom-control-label" for="check7"><img width="22" height="22" alt="" src="/img/spider.png"> 거미/곤충류 (spider)</label>
					</div>

				</fieldset>
				<hr class="mb-4">

			</div>


			<div class="col-md-6">
				<fieldset>
					<legend> 관심있는 분야 </legend>
					<div class="custom-control custom-checkbox">
						<input id="check8" name="interestField02" type="checkbox"
							class="custom-control-input" value="음식" checked=""> <label
							class="custom-control-label" for="check8"><img width="22" height="22" alt="" src="/img/food.png"> 음식 (food)</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input id="check9" name="interestField02" type="checkbox"
							class="custom-control-input" value="질병"> <label
							class="custom-control-label" for="check9"><img width="22" height="22" alt="" src="/img/disease.png"> 질병 (disease)</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input id="check10" name="interestField02" type="checkbox"
							class="custom-control-input" value="행동"> <label
							class="custom-control-label" for="check10"><img width="22" height="22" alt="" src="/img/sleep.png"> 행동 (action)</label>
					</div>
				</fieldset>
			</div>
		</div>

		<hr class="mb-4">
		<div id="naverMap"></div>
		<div class="row xyform xy1" style="margin-top: 10px;">
			<div class="row xyform">
				<input type="text" class="form-control" id="xy" name="posX">
				<input type="text" class="form-control" id="xy" name="posY">
			</div>
		</div>
		<hr class="mb-4">
		<button class="btn btn-lg btn-secondary btn-block" type="submit">회원가입</button>
		<p class="mt-5 mb-3 text-muted text-center">&copy; 2018</p>
	</form>
	<script>
		var map = new naver.maps.Map('naverMap', {
			center : new naver.maps.LatLng(37.499934, 127.036415),
			zoom : 11,
			zoomControl : true,
			zoomControlOptions : {
				position : naver.maps.Position.TOP_RIGHT
			},
			mapTypeControl : true,
		});
		function setMarker(posX, posY) {
			var marker = new naver.maps.Marker({
				position : new naver.maps.LatLng(posX, posY),
				map : map
			});
			markerArray.push(marker);
		}
		var markerArray = [];
		function deleteMarkers() {
			for (key in markerArray) {
				markerArray[key].setMap(null);
			}
			markerArray = [];
		}
		naver.maps.Event.addListener(map, 'click', function(e) {
			$('[name=posX]').val(e.coord.lat());
			$('[name=posY]').val(e.coord.lng());
			deleteMarkers();
			setMarker(e.coord.lat(), e.coord.lng());
		});
	</script>
	{{> include/footer}}
</body>
</html>